{% extends "base.html" %} {% block placeContent %}
{% include "navbar/navbar-public.html" %}

<div class="container-md w-25 mt-5">

    <form method='POST'>
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email or Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p><a class="fs-6" href={% url 'account:register' %}>dont have an account?</a></p>
        
</div>
{% endblock placeContent %}
